//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 25 23:33:52 2018
//! **************************************************************************

SCHEMATIC START;
COMP "one_bit" LOCATE = SITE "P42" LEVEL 1;
SCHEMATIC END;

