//! **************************************************************************
// Written by: Map P.20131013 on Sat Mar 24 13:43:41 2018
//! **************************************************************************

SCHEMATIC START;
COMP "KeyArray<0>" LOCATE = SITE "P42" LEVEL 1;
SCHEMATIC END;

